/* when dialog is open, overflow: visible ??*/
/* [data-state='open'] {
  overflow: visible !important;
} */

.ql-toolbar.ql-snow {
  border-color: #f8c0ce !important;
  border-radius: 8px 8px 0 0;
}

.ql-container.ql-snow {
  border-color: #f8c0ce !important;
  border-radius: 0 0 8px 8px;
  padding: 10px;
  min-height: 120px;
}
